<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>login page</h1>-->
<!--    <form method="post">-->
<!--    {% csrf_token %}-->
    
<!--    {{form.as_p}}-->
<!--    <button type="submit">로그인</button>-->
<!--    </form>-->
    
    
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>

    <title>Bootstrap Studio - The Revolutionary Web Design Tool</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Global site tag (gtag.js)-->
    <!--<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-531949-20"></script>-->
    <!--<script>-->
    <!--  window.dataLayer = window.dataLayer || [];-->
    <!--  function gtag(){dataLayer.push(arguments);}-->
    <!--  gtag('js', new Date());-->

    <!--  gtag('config', 'UA-531949-20');-->
    <!--</script>-->

    <!-- Facebook Pixel Code -->
  <!--   <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2355444548072358');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2355444548072358&ev=PageView&noscript=1"
    /></noscript> -->
    <!-- End Facebook Pixel Code -->

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/logo_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/logo_32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/logo_64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/assets/img/logo_128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/assets/img/logo_256.png">
    <link rel="apple-touch-icon" sizes="256x256" href="/assets/img/logo_256.png">

            <meta property="og:url" content="http://bootstrapstudio.io/">
        <meta property="og:type" content="website">
        <meta name="twitter:url" content="http://bootstrapstudio.io/">
    
    <meta property="og:image" content="https://bootstrapstudio.io/assets/img/shot.jpg?123">
    <meta property="og:title" content="Bootstrap Studio - The Revolutionary Web Design Tool">
    <meta property="og:description" content="Powerful Web Development Tool For The Bootstrap Framework.">

    <meta name="twitter:title" content="Bootstrap Studio - The Revolutionary Web Design Tool">
    <meta name="twitter:image" content="https://bootstrapstudio.io/assets/img/shot.jpg?123">
    <meta name="twitter:creator" content="@BootstrapStudio">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@BootstrapStudio">
    <meta name="twitter:description" content="Powerful Web Development Tool For The Bootstrap Framework.">

    <meta name="description" content="A powerful web design tool for creating responsive websites using the Bootstrap framework.">

    <meta name="csrf-token" content="TOTcNGv9Xw4ZAFhEwxlk1Iy6sRJYTRKhiH6cSul5">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="canonical" href="/">

    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "Bootstrap Studio",
  "image": "https://bootstrapstudio.io/assets/img/logo.png",
  "alternateName":"Bootstrap Builder",
  "description":"Visual drag and drop website builder for the Bootstrap framework.",
  "operatingSystem": ["Windows", "macOS", "Linux"],
  "applicationCategory": "http://schema.org/SoftwareApplication",
  "offers": {
    "@type": "Offer",
    "price": "29.00",
    "priceCurrency": "USD"
  }
}
</script>


    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css?id=4f8d44dc34c706191f76">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.paddle.com/paddle/assets/css/animate.css" media="all"><link rel="stylesheet" type="text/css" href="https://cdn.paddle.com/paddle/assets/css/paddle.css" media="all"></head>

<body class="landing">

    
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link smooth-scroll" href="#"><img src="/assets/img/logo_128.png" width="40" alt="Logo">Bootstrap Studio</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary navbar-btn navbar-right smooth-scroll" role="button" href="#purchase">Purchase</a>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation"><a href="#features" class="smooth-scroll">Features</a></li>
                <li class="dropdown"><a data-toggle="dropdown" aria-expanded="true" href="#" class="dropdown-toggle">Extras <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="/sites">Sites Platform</a></li>
                        <li role="presentation"><a href="/forms">Smart Forms</a></li>
                    </ul>
                </li>
                <li role="presentation"><a href="/tutorials/">Tutorials</a></li>
                <li role="presentation" class="hidden-md hidden-sm"><a href="/forums/">Forums</a></li>
            </ul>
        </div>
    </div>
</nav>

    <header>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center intro-col">
                <h1>Bootstrap Studio</h1>
                <p class="lead text-muted">A powerful desktop app for creating <strong>responsive websites</strong> using the <strong>Bootstrap framework</strong>.</p>
                <button id="run-demo-button" class="btn btn-primary" type="button"><i></i> Run Browser Demo</button>
            </div>
            <div class="col-xs-12 illustration-col">
                <div class="illustration"><img class="img-responsive" src="/assets/img/app_4.jpg" srcset="/assets/img/app_4.jpg 1453w,/assets/img/app_4@2.jpg 2906w" alt="App Interface"></div>
            </div>
        </div>

    </header>
    <div class="container" id="intro">
        <section class="centered intro">
            <h2 class="text-center"><strong>Bootstrap Studio</strong> is a powerful desktop app for <span>designing and prototyping</span> websites.</h2>
            <p>It comes with a large number of built-in components, which you can drag and drop to assemble responsive web pages. The app is built on top of the hugely popular Bootstrap framework, and exports clean and semantic HTML.</p>
        </section>
    </div>
    <div id="version-is-here" class="tinted">
        <section class="centered">
            <h3><i class="icon icon-check"></i><strong>Bootstrap Studio 5.2.1 is here!</strong><span>See what's new on our <a href="/pages/releases/" target="_blank">releases&nbsp;page&nbsp;»</a></span></h3>
        <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/41AaGPktHv8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" loading="lazy"></iframe></div></section>
    </div>
    <div id="features">
        <div class="feature interface">
            <h3>The Interface</h3>
            <p class="lead">Bootstrap Studio has a beautiful and powerful interface, which is built around the simplicity of drag and drop. This makes it the perfect tool for prototyping and designing web pages and apps.</p>
            <div class="illustration windowed">
                <div class="dot component-panel" data-direction="right"></div>
                <div class="dot overview-panel" data-direction="right"></div>
                <div class="dot options-panel" data-direction="left"></div>
                <div class="dot design-panel" data-direction="left"></div>
                <div class="dot editor-panel"></div>
                <div class="dot stage"></div><img src="/assets/img/app_4.jpg" srcset="/assets/img/app_4.jpg 1453w,/assets/img/app_4@2.jpg 2906w" class="ghost top" alt="App Interface"><img class="img-responsive bottom" src="/assets/img/app_3.jpg" srcset="/assets/img/app_3.jpg 1453w,/assets/img/app_3@2.jpg 2906w" alt="App Interface Expanded">
                <div class="tooltip"></div>
            </div>
        </div>
        <div class="feature templates blue">
            <h3>Beautiful Templates</h3>
            <p class="lead">The app comes with a number of premium, fully responsive templates that you can customize. Each template consists of multiple pages and widgets you can pick-and-match into the perfect website.</p>
            <div class="simple-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_1.jpg" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_2.jpg" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_3.jpg" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_4.png" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_5.jpg" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slide-content windowed">
                            <img src="/assets/img/templates/template_6.jpg" alt="Template Screenshot" loading="lazy">
                          </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="feature components tinted">
            <h3>Beautiful Components</h3>
            <p class="lead">Bootstrap Studio comes with a large number of pretty components for building responsive pages. We've got headers, footers, galleries, slideshows and even basic elements like spans and divs. See some of them below.</p>
            <div class="simple-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_1.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_2.png" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_3.png" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_4.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_5.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_6.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_7.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_8.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_10.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_9.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                        <div class="swiper-slide">
                          <img class="slide-content" src="/assets/img/components/component_11.jpg" alt="Component Screenshot" loading="lazy">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="container additional-features">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 item"><i class="icon-cursor-move icon"></i>
                        <h4>Smart Drag &amp; Drop </h4>
                        <p>Bootstrap Studio knows which Bootstrap components can be nested in one another and gives you suggestions. It automatically generates beautiful HTML for you, which looks as if it was written by hand by an expert.</p>
                    </div>
                    <div class="col-md-5 item"><i class="icon-docs icon"></i>
                        <h4>Create Your Own Components</h4>
                        <p>You can extract pieces of your designs as Custom Components, and have them ready to be dropped into any design you create. You can also export these components as files and share them.</p>
                    </div>
                    <div class="clearfix hidden-xs hidden-sm"></div>
                    <div class="col-md-5 col-md-offset-1 item"><i class="icon-layers icon"></i>
                        <h4>Online Library </h4>
                        <p>If you need a component which doesn't exist in our library, just click the <strong>Online</strong> tab in the <em>Component Panel</em>. There you will find thousands of components built and shared by the community. You can also
                            upload your own.</p>
                    </div>
                    <div class="col-md-5 item"><i class="icon-link icon"></i>
                        <h4>Linked Components </h4>
                        <p>This is a powerful feature which allows you to synchronize components, so changing one will automatically change the other. This is especially useful for things like headers and footers which you need to update across pages. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature preview">
            <h3>Realtime Preview</h3>
            <p class="lead">Bootstrap Studio has a powerful feature called <strong>Preview.</strong> With it, you can open your design in multiple web browsers and devices, and every change you make within the app will be shown instantaneously everywhere.&nbsp; </p>
            <div class="illustration centered"><img src="/assets/img/realtime_preview_devices.jpeg" alt="Browser Preview" width="700" loading="lazy"></div>
    </div>
    <div class="feature editing tinted">
        <h3>Editing Code</h3>
        <p class="lead">For some things drag and drop isn't enough. This is why Bootstrap Studio gives you full control over your markup when you need it. You can import and edit CSS, SASS, JavaScript and HTML in our Sublime Text-like editor. </p>
        <div class="illustration centered"><img src="/assets/img/css-editing.png" alt="CSS Editing" loading="lazy"></div>
        <div class="container additional-features">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-doc icon"></i>
                    <h4>Advanced CSS and SASS Editors</h4>
                    <p>Our advanced CSS editing interface supports auto suggest and rule validation, and shows the active and inherited rules at an any given time.</p>
                </div>
                <div class="col-md-5 item"><i class="icon-doc icon"></i>
                    <h4>JavaScript Editing</h4>
                    <p>Write JavaScript in our Sublime Text-like editor. All your changes are synced with the preview, so you can write code and try it out without having to reload your browser.</p>
                </div>
                <div class="clearfix hidden-xs hidden-sm"></div>
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-doc icon"></i>
                    <h4>HTML Editing</h4>
                    <p>With our powerful Custom Code component, you can write HTML directly, without going through our drag and drop interface. You can also convert any piece of your page into Custom Code when you need it.</p>
                </div>
                <div class="col-md-5 item"><i class="icon-folder icon"></i>
                    <h4>Import Existing Websites</h4>
                    <p>If you have a website that you've developed previously, you can import it. Just drag and drop the HTML, CSS, JS files and images into Bootstrap Studio and they will be added to your project.</p>
                </div>
                <div class="clearfix hidden-xs hidden-sm"></div>
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-screen-desktop icon"></i>
                    <h4>Connect External Editors</h4>
                    <p>Prefer to write CSS in your editor? No problem! With a single click you can connect Visual Studio Code, Sublime Text, Atom, IntelliJ <a href="/tutorials/external-editors" target="_blank    ">and more</a>.</p>
                </div>
                <div class="col-md-5 item"><i class="icon-rocket icon"></i>
                    <h4>Keyboard Shortcuts</h4>
                    <p>Bootstrap Studio has comprehensive support for <a href="/tutorials/keyboard-shortcuts">keyboard shortcuts</a> which allow you to speed up your workflow dramatically.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="feature even-more">
        <h3>Even More Features</h3>
        <p class="lead">Bootstrap Studio is a revolutionary website builder. With its productivity features and specialized Bootstrap tools, you can create everything from a prototype to a fully working website.</p>
        <div class="container additional-features">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-heart icon"></i>
                    <h4>Built for Bootstrap 3 and 4</h4>
                    <p>Bootstrap Studio knows how to construct a valid Bootstrap page and automatically writes the correct HTML. It supports both Bootstrap 3 and Bootstrap 4 and you can convert your designs from one to the other.</p>
                </div>
                <div class="col-md-5 item"><i class="icon-paper-plane icon"></i>
                    <h4>One-click Publishing</h4>
                    <p>You can export your design as a static website, or publish it with one click to our <a href="/sites">next gen hosting platform</a>. It offers HTTPS, custom domains, passkeys and is totally free!</p>
                </div>
                <div class="clearfix hidden-xs hidden-sm"></div>
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-grid icon"></i>
                    <h4>Grid Tools</h4>
                    <p>The app has specialized tools for working with the Bootstrap grid. Easily create, resize and offset columns, and apply responsive visibility classes. </p>
                </div>
                <div class="col-md-5 item"><i class="icon-vector icon"></i>
                    <h4>Smooth Animations</h4>
                    <p>In our app, you can create smooth CSS animations that are triggered on browser scroll or hover. We also have a special Parallax component for beautiful image backgrounds.</p>
                </div>
                <div class="clearfix hidden-xs hidden-sm"></div>
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-note icon"></i>
                    <h4>Google Webfonts</h4>
                    <p>Bootstrap Studio is integrated with Google Webfonts and gives you an easy way to import and manage your fonts. Font family names are even auto-suggested in our css editor.</p>
                </div>
                <div class="col-md-5 item"><i class="icon-energy icon"></i>
                    <h4>Command Palette</h4>
                    <p>Speed up your workflow with our Command Palette! Press <i>Ctrl/Cmd+P</i> and create/open files, insert components with an Emmet-like CSS syntax, generate Lorem ipsum text and trigger menu commands.</p>
                </div>
                <div class="clearfix hidden-xs hidden-sm"></div>
                <div class="col-md-5 col-md-offset-1 item"><i class="icon-picture icon"></i>
                    <h4>Themes and Icons</h4>
                    <p>The app has a number of built-in Bootstrap themes, icon fonts, templates and components, which you can combine into beautiful and unique designs.</p>
                </div>
                <div class="col-md-5 col-md-offset-0 item"><i class="icon-cloud-download icon"></i>
                    <h4>Always Up to Date</h4>
                    <p>Bootstrap Studio updates automatically, so you always have the latest version. We <a href="/pages/releases/">release updates every month</a>, filled with new features, components and improvements.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid hidden-xs hidden-sm try-section blue">
        <div class="row">
            <div class="col-md-5"><img src="/assets/img/Google_Chrome_logo.png" alt="Google Chrome Logo" width="150"></div>
            <div class="col-md-6">
                <h2><strong>Try it in your browser</strong></h2>
                <p>We have an interactive demo of Bootstrap Studio that runs in Google Chrome. No installation required!</p>
            </div>
        </div>
    </div>
    <div class="container" id="purchase">
        <section class="centered purchase">
            <h2 class="text-center">Purchase </h2>
            <p class="support">Bootstrap Studio is a desktop application that works fully offline. There are <strong>no monthly payments, usage limits or ongoing fees</strong>. You buy it once and own it forever.</p>

            <div class="packages">
                <div class="package">
                    <h4>Standard</h4>
                    <p class="about">Bootstrap Studio Standard is the perfect tool for developers, designers and individuals with interest in web development.</p>
                    <form>
                        <div class="item" title="The app is multiplatform, so you can use it on any OS. It can be installed on multiple computers with different OS at the same time."><i class="icon-check icon"></i>
                            <h3>Runs on Win 7+, macOS, Linux <span></span></h3>
                        </div>
                        <div class="item" title="Use a single license on up to 3 computers that you own. When you uninstall, you free up a slot for a new machine."><i class="icon-check icon"></i>
                            <h3>Install it on all your computers <span></span></h3>
                        </div>
                        <div class="item" title="You can keep using the app forever after you purchase it. There are no usage limits or monthly fees."><i class="icon-check icon"></i>
                            <h3>Buy it once, own it forever <span></span></h3>
                        </div>
                        <div class="item" title="You get free hosting on our next-gen cloud platform, and free smart forms which deliver submissions to your email."><i class="icon-check icon"></i>
                            <h3>Free <a href="/sites" target="_blank">Web Hosting</a> and <a href="/forms" target="_blank">Forms</a><span></span></h3>
                        </div>
                        <div class="item" title="You will get all new features and major releases for free for 1 year. After this, you can keep using the last version that you've received, or renew your license for further upgrades." style="margin-bottom:40px;"><i class="icon-check icon"></i>
                            <h3>1 year of free upgrades <span></span></h3>
                        </div>
                        <div>
                            <h4 class="text-center price">$29</h4>
                        </div>
                        <div class="purchase-button"><a class="btn btn-primary btn-lg" role="button" href="https://pay.paddle.com/checkout/501859" id="buy-individual">Buy Standard</a></div>
                    </form>
                    <div class="special-offer"><span>Limited Time</span>Buy today and get our premium templates for free!</div>
                </div>
                <div class="package blue">
                    <h4>Lifetime</h4>
                    <p class="about">Bootstrap Studio Lifetime is a special version of our app. It has all powerful features and you'll receive every new version for free, forever.</p>
                    <form>
                        <div class="item"><i class="icon-check icon"></i>
                            <h3>Everything from <b>Standard</b></h3>
                        </div>
                        <div class="item" title="You will get all new features and major releases forever." style="margin-bottom:40px;"><i class="icon-check icon"></i>
                            <h3>Free upgrades forever! <span></span></h3>
                        </div>
                        <div>
                            <h4 class="text-center price">$60</h4>
                        </div>
                        <div class="purchase-button"><a class="btn btn-primary btn-lg" role="button" href="https://pay.paddle.com/checkout/510104" id="buy-lifetime">Buy Lifetime</a></div>
                    </form>
                    <div class="special-offer"><span>Limited Time</span>Buy today and get our premium templates for free!</div>
                </div>
            </div>
            <p class="text-center instructions"><b>Instructions</b>: Click the "Buy" button above and fill a valid email address. Once you complete your purchase, we will send you a download link for Bootstrap Studio.</p>

        </section>
    </div>
    <div class="testimonials blue">
        <div class="container">
            <h3 class="text-center">Thousands of Happy Customers</h3>
            <div class="row">
                <div class="col-md-4 item">
                    <h4>I have been using Bootstrap Studio for a few days and I absolutely love what I can do with it. I have never created a good looking and functioning website so fast. I am very happy to have bought it.</h4>
                    <p><a href="http://www.marcusgraetz.de/" target="_blank">- Marcus Graetz</a> </p>
                </div>
                <div class="col-md-4 item">
                    <h4>In no time at all I was able to fire up the app, get a quick feel for it, and create a very modern and well received site that is so much better than what we ever had before. So thank you for creating a great product, and thanks for making me look like a genius at work today!</h4>
                    <p><a href="http://jonesdl.com/" target="_blank">- David Jones</a> </p>
                </div>
                <div class="col-md-4 item">
                    <h4>I must say I am blown away by Bootstrap Studio. This will be the future of designing websites and making really quick "mock-ups" on the fly. It's also really dope as a learning tool for designers (or actually everyone) to get the hang of Bootstrap real quick.</h4>
                    <p><a href="http://sipgate.de/" target="_blank">- Peter</a> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container subscribe">
        <h2 class="text-center">Learn What's Coming Next</h2>
        <p>We update <strong>Bootstrap Studio</strong> every couple of weeks with new features and listen to your feedback on <a href="/forums/">our forums</a>. Subscribe for our newsletter and learn when we release new versions.</p>
        <form id="newsletter-form">
            <div class="input-group">
                <input class="form-control" type="email" placeholder="Your Email">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Join Newsletter</button>
                </div>
            </div>
        </form>
        <p class="text-warning status"> </p>
    </div>

    <footer>
    <h3>The Revolutionary Web Design Tool.</h3>
    <ul class="list-inline">
        <li><a href="/forums/">Forums</a> </li>
        <li><a href="/tutorials/">Tutorials</a></li>
        <li><a href="/pages/license">License</a> </li>
        <li><a href="/pages/terms">Terms</a></li>
        <li><a href="/pages/privacy">Privacy</a> </li>
        <li><a href="/bug-report">Bug Report</a></li>
        <li><a href="/contact-us#faq">FAQ</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    <p class="copyright">Copyright © 2020 <a href="https://zine.bg/" target="_blank">Zine EOOD</a>. All Rights Reserved.</p>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

    <script src="/assets/js/script.js?id=a278f9cc1cdcaf5fbd23"></script>




<div class="pretty-overlay" data-destroy="0" style="background-color: rgba(0, 0, 0, 0.6); z-index: 1040; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">			<div class="windowed" style="width:96%;height:96%;position:relative;font-size: 12px;">				<div class="close-button" style="border-radius: 50%;background-color: #CC1A1A;color: #fff;font-size: 24px;position: absolute;top: -10px;right: -10px;width: 30px;height: 30px;z-index: 10;box-shadow: 0 4px 4px rgba(0,0,0,0.1);opacity: 1;text-align: center;cursor: pointer;line-height: 30px;">×</div>				<iframe src="/demo/" frameborder="0" style="position: absolute;top: 2.4em;bottom: 0;width: 100%;height: calc( 100% - 2em);"></iframe>			</div>		</div></body>
</html>